/*padding cero*/
.row .col{
    padding: 0;
}
 
/*estilos de los iconos*/
.fb-logo,.link-logo{
    border-radius: 25px;
    padding: 5px;
}
.fb-logo{
    background: #005ea8;
}
.link-logo{
    background: #999999;
}
.phone-logo{
    font-size: 38px;
}

 
 
/*segunda pagina*/
.section{
    height: 749px;
    padding: 0;
    margin: 0
}
.title_history{
    font-size: 70px;
    margin: 0

}
h4{
    font-size: 22.99px;
    text-align: justify;

}
.parra_history{
    font-size: 16px;
    text-align: justify;  
}
 
.button-1{
    height: 55px;
    width: 235px;
    border:1px solid black;
    margin-top: 52px
}
.parrafo1{
  
  
    max-width: 850px;
 
}

/*Seccion2*/

.section2{
    height: 100vh;
    background-image: url(/img/fondo2.png)
    
}
.title_section2{
    font-size: 80px;
  margin: 120px 140px
}